body {
    background-image: url("https://www.crushpixel.com/big-static14/preview4/perspective-hexagon-background-with-red-1767837.jpg");
    background-size: cover;
}
h1{
    background-color:red;
}
